/* Import for google fonts Montserrat font family */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: 'Montserrat', Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-size: 20px;
    line-height: 1.25em;
    letter-spacing: 0.06em;
    font-weight: 300;
    color: #757575;
    padding-left: 15px;
    padding-right: 15px;
}

main {
    display: flexbox;
    max-width: 1100px;
    margin: 75px auto 160px;
    padding: auto 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

nav.container {
    max-width: 1100px;
    position: relative;
    margin: 30px auto 0;

}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;
    padding-top: 5px auto;
    margin: 0;
}

main>div.education>ul>li:nth-child(1) {
    font-weight: 600;
}

main>div.education>ul>li:nth-child(2) {
    text-align: right;
}

nav.container ul:nth-child(-n+1) li div {
    font-weight: 600;
    font-size: 1.3em;
    color: #7a7a7a;
}

nav.container ul:nth-child(n+2) li div {
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1.05em;
    line-height: 1.1em;
}

div.aditional>div.education>ul>li:nth-child(2) {
    text-align: right;
}


/* Headings
     ========================================================================== */

h2 {
    font-size: 1.5em;

    margin: 0;
}

h2[center] {
    text-align: center;
}


/* Table
     ========================================================================== */
table {
    border-collapse: collapse;
    margin: 60px 15px;
    width: 1000px;
}

table tr:first-of-type th:first-child {
    text-align: left;
}

table tr:first-of-type th:last-of-type {
    text-align: right;
}

table tr td:nth-child(-n+1) {
    font-weight: 600;
    /* font-size: small; */
    width: 100px;
    text-align: right;
    padding-right: 5px;
}

table tr td.scope {
    text-align: left;
    font-weight: 600;
}

/* Table End */


.grid-container {
    position: relative;
    display: flex;
    padding: 10px;
}

.area-title {
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.area-title>div:first-child {
    text-align: left;
}

.grid-container>div:first-child,
.area-title>div {
    font-weight: 600;
    min-width: 150px;
    margin-right: 10px;
    text-align: right;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #099;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    float: left;
    top: 0.3em;
    font-weight: 400;
}


.line-break {
    display: block;
    border: none;
    min-height: 2px;
    max-height: 2px;
    margin: 45px auto;
    background: linear-gradient(90deg, transparent, white, silver, grey, rgb(107, 134, 134), black, darkslategray, grey, silver, white, transparent)
}


.date[colspan^="3"] {
    color: #808080;
    font-size: small;
    text-align: left;
}


/***************
@Media Queries Begin
***************/

@media only screen and (max-width: 1600px) and (min-width: 1025px) {}

@media only screen and (max-width: 1024px) and (min-width: 500px) {
    h2 {
        text-align: center;
    }
}

@media (max-width: 499px) {}